<!doctype html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <meta name="Author" content="netease">
    <meta name="Version" content="1.0">
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <title>健康周</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="css/style.css">
    <script>
        !function(){
            function a(){
                document.documentElement.style.fontSize=document.documentElement.clientWidth/16+"px"
            }
            var b=null;
            window.addEventListener("resize",function(){
                clearTimeout(b),b=setTimeout(a,300)},!1),a()
        }(window);
    </script>
</head>
<body>
    <div class="g-doc">
        <div class="m-mark"></div>
        <div class="m-youtime"><span>10"</span><i>￥0</i></div>
        <div class="m-sec m-sec1" >
            <div class="m-sanq">
                <div class="u-qian1"></div>
                <div class="u-qian2"></div>
                <div class="u-qian3"></div>
                <div class="u-qian4"></div>
            </div>
            <div class="u-zhi"></div>
            <div class="m-top"></div>
            <div class="u-head"></div>
            <div class="m-middle">
                <p>向上滑动游戏开始</p>
                <div class="m-numb">
                    <!--<span></span>剩余1次游戏机会-->
                </div>
            </div>
            <div class="m-botton">
                <div class="m-bd">
                    <ul id="touch" class="m-jkj">
                        <li class="u-zg u-zg1"></li>
                        <li class="u-zg u-zg2"></li>
                        <li class="u-zg u-zg3"></li>
                    </ul>
                    <div class="m-gui">
                        <a class="u-actrule" href="javascript:void(0);"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-sec m-sec2" style="display: none">
            <div class="u-zhi"></div>
            <div class="m-resule">
                <!--<p>恭喜你</p>-->
                <!--<p>获得健康基金</p>-->
                <!--<p class="f-fc1">￥5000</p>-->
                <!--<p class="f-fs1">还不赶紧兑换大礼</p>-->
            </div>
            <div class="m-btns">
                <a class="j-again" href="javascript:void(0);">再玩一次</a>
                <a class="j-shaer" href="javascript:void(0);">分享给朋友</a>
            </div>
            <div class="m-coupon">
                <div class="u-tt">分享给朋友，每天可获得额外1次游戏机会</div>
                <div class="m-bd f-cb">
                    <a href="javascript:void (0);" numb-data="30" prizeId-data="18763" class="u-quan u-quan1">
                        <p class="u-pic">￥3000</p>
                        <p class="u-tt2">爱尔眼科开学季</p>
                        <p class="u-tt2">眼健康检查大礼包</p>
                    </a>
                    <a href="javascript:void (0);" numb-data="50" prizeId-data="18761" class="u-quan u-quan2">
                        <p class="u-pic">￥5000</p>
                        <p class="u-tt2">口腔检查家庭</p>
                        <p class="u-tt2">免费套餐券</p>
                    </a>
                    <a href="javascript:void (0);" numb-data="30" prizeId-data="18760" class="u-quan u-quan1">
                        <p class="u-pic">￥3000</p>
                        <p class="u-tt2">口腔检查单人</p>
                        <p class="u-tt2">免费体验券</p>
                    </a>
                    <a href="javascript:void (0);" numb-data="50" prizeId-data="18762" class="u-quan u-quan2">
                        <p class="u-pic">￥5000</p>
                        <p class="u-tt2">爱康国宾免费体检卡</p>
                        <p class="u-tt2">(仅限北京)</p>
                    </a>
                </div>
            </div>
            <div class="m-ft">
                <div class="m-bd">
                    <div class="u-tt">特别鸣谢以下单位(排名不分先后)</div>
                    <img src="https://gw.alicdn.com/tps/TB1XZpwLpXXXXbgapXXXXXXXXXX-616-51.png" width="100%" alt="">
                </div>
            </div>
        </div>
        <!-- 弹窗-->
        <!--规则弹窗-->
        <div class="m-pop m-pop1">
            <a class="u-close" href="javascript:void(0);"></a>
            <div class="m-bd">
                <p class="u-tt">活动时间：8月22日-8月28日</p>
                <p><span>1</span>支付宝用户可参与健康周活动，有机会获得指定商家优惠券及线下免费健康服务。</p>
                <p><span>2</span>同一用户，每天仅有1次游戏机会，分享给朋友可每天额外增加1次游戏机会。</p>
                <p><span>3</span>同一用户，同种券仅可领取1张，部分券有数量限制，先到先得。</p>
                <p><span>4</span>同一支付宝账号、同一手机号、同一淘宝号、同一手机设备，满足以上任一条件均视为同一用户。</p>
                <p><span>5</span>活动券使用规则以券说明为准。</p>
            </div>
        </div>
        <!--  明日再来  -->
        <div class="m-pop m-pop2">
            <a class="u-close" href="javascript:void(0);"></a>
            <div class="m-bd">
                <p>“今日游戏次数已经用完，请明天再来，</p>
                <p>分享给好友获得额外游戏机会”</p>
                <a class="u-share" href="javascript:void(0);"></a>
            </div>
        </div>
        <!--分享获机会-->
        <div class="m-pop m-pop3" >
            <a class="u-close" href="javascript:void(0);"></a>
            <div class="m-bd">
                <p>“今日游戏游戏机会已经用完，</p>
                <p>分享获得更多机会~”</p>
                <a class="u-ture" href="javascript:void(0);"></a>
            </div>
        </div>
        <!--再接再厉-->
        <div class="m-pop m-pop4">
            <a class="u-close" href="javascript:void(0);"></a>
            <div class="m-bd">
                <p>您的积分不足，请再接再厉</p>
                <a class="u-ture" href="javascript:void(0);"></a>
            </div>
        </div>
        <!--别贪心-->
        <div class="m-pop m-pop5">
            <a class="u-close" href="javascript:void(0);"></a>
            <div class="m-bd">
                <p>该奖品仅限兑换一次</p>
                <p>别贪心喔</p>
                <a class="u-ture" href="javascript:void(0);"></a>
            </div>
        </div>
        <!--产品已被领完-->
        <div class="m-pop m-pop6" >
            <a class="u-close" href="javascript:void(0);"></a>
            <div class="m-bd">
                <p>该奖品已经领完，下次趁早喔~</p>
                <a class="u-ture" href="javascript:void(0);"></a>
            </div>
        </div>
        <!--分享增加一次机会-->
        <div class="m-pop m-pop7">
            <a class="u-close" href="javascript:void(0);"></a>
            <div class="m-bd">
                <p>“分享仅可增加1次游戏机会，</p>
                <p>今日游戏次数已经用完，请明天再来”</p>
                <a class="u-ture" href="javascript:void(0);"></a>
            </div>
        </div>
        <!---->
    </div>
    <script src="js/zepto.min.js"></script>
    <script async  src="js/main.js"></script>
</body>
</html>