/* 皮肤 */
/*导航条半透明rgba样式*/
/*线*/
/*未选中字体颜色*/
/* 选中字体颜色-（原色调-不变）*/
/* 选中块的背景色 */
/* end 导航*/
/* search */
/* footer */
/* */
/* function*/
/*#fdc101 253,193,1*/
/*#5578dd 85, 120, 221*/
/*about us 大标题颜色*/
/*about us 小标题颜色*/
/*about us 小标题下边框颜色*/
/*主内容背景颜色*/
/*主内容标题颜色*/
/*标签颜色*/
/*左侧标题颜色*/
/*左侧标题小超链字体颜色hover后的颜色*/
/*左侧标题小超链字体颜色*/
.btest {
  float: right;
  *display: inline;
  background: #5578dd;
}
.details-section .container {
  padding-top: 50px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  /*@media screen and (max-width:1004px) and (min-width:880px){
			.g-sidebar{
					h3{
						font-size: 19px;
						line-height: 19px;
					}
					.list{
						.title{
							font-size: 16px;
							line-height: 16px;
						}
						li{
							a{
								font-size: 14px;							
							}
						}
					}				
				}
		}*/
}
.details-section .container:before,
.details-section .container:after {
  content: "";
  display: table;
}
.details-section .container:after {
  clear: both;
}
.details-section .container .g-sidebar {
  width: 22%;
  float: left;
  *display: inline;
  position: relative;
  z-index: 20;
  margin-top: 18px;
}
.details-section .container .g-sidebar h3 {
  width: 98%;
  margin-left: 2%;
  font-size: 23px;
  font-weight: normal;
  line-height: 23px;
  color: #494444;
}
.details-section .container .g-sidebar .line {
  width: 98%;
  margin-left: 2%;
  border-top: 2px solid #5578dd;
  margin-top: 20px;
}
.details-section .container .g-sidebar .list {
  width: 98%;
  margin-left: 2%;
}
.details-section .container .g-sidebar .list .title {
  font-size: 20px;
  line-height: 20px;
  color: #000;
  padding: 17px 0 17px 26px;
  background: url(../images/hl_left.png) no-repeat left center;
  cursor: pointer;
  border-bottom: 1px solid #e3e3e3;
  display: block;
}
.details-section .container .g-sidebar .list .titletwo {
  line-height: 20px;
  background-position: left 17px;
}
.details-section .container .g-sidebar .list .active {
  background: url(../images/hl_down.png) no-repeat left 20px;
}
.details-section .container .g-sidebar .list li {
  padding-left: 26px;
  margin-top: 13px;
  display: none;
}
.details-section .container .g-sidebar .list li a {
  background: url(../images/hl_sleft.png) no-repeat left center;
  padding-left: 16px;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}
.details-section .container .g-sidebar .list li a:hover {
  color: #000;
}
@media screen and (max-width: 990px) {
  .details-section .container .g-sidebar {
    float: none;
    width: 95%;
    margin-top: 5%;
  }
}
.details-section .container .main {
  padding: 0 0 77px 274px;
  position: relative;
  z-index: 5;
}
.details-section .container .main .main-white {
  height: 60px;
}
.details-section .container .main .slider {
  width: 367px;
  position: absolute;
  left: 274px;
  top: 18px;
}
.details-section .container .main .slider .large-box {
  position: relative;
  margin-bottom: 6px;
  width: 367px;
  height: 311px;
  overflow: hidden;
  background-color: #fff;
}
.details-section .container .main .slider .large-box ul {
  *zoom: 1;
}
.details-section .container .main .slider .large-box ul:before,
.details-section .container .main .slider .large-box ul:after {
  content: "";
  display: table;
}
.details-section .container .main .slider .large-box ul:after {
  clear: both;
}
.details-section .container .main .slider .large-box .marquee {
  position: absolute;
  width: 150px;
  height: 150px;
  background: #fff;
  opacity: .5;
}
.details-section .container .main .slider .btn {
  display: block;
  width: 19px;
  height: 32px;
  cursor: pointer;
  margin-top: 8px;
}
.details-section .container .main .slider .left-btn {
  float: left;
  *display: inline;
  margin-right: 7px;
  background: url(../images/qy-btuleft.png);
}
.details-section .container .main .slider .right-btn {
  float: right;
  *display: inline;
  background: url(../images/qy-bturight.png);
}
.details-section .container .main .slider .small-list {
  position: relative;
  float: left;
  width: 315px;
  height: 50px;
  overflow: hidden;
}
.details-section .container .main .slider .small-list ul {
  *zoom: 1;
}
.details-section .container .main .slider .small-list ul:before,
.details-section .container .main .slider .small-list ul:after {
  content: "";
  display: table;
}
.details-section .container .main .slider .small-list ul:after {
  clear: both;
}
.details-section .container .main .slider .small-list li {
  position: relative;
  float: left;
  *display: inline;
  margin-right: 10px;
  width: 65px;
  padding: 2px 3px;
  border: 1px solid #eee;
}
.details-section .container .main .slider .small-list li.on .bun-bg {
  display: block;
}
.details-section .container .main .slider .small-list li .bun-bg {
  display: none;
  position: absolute;
  top: 2px;
  left: 3px;
  width: 65px;
  height: 50px;
  background: #000;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}
.details-section .container .main .slider .show-box {
  position: absolute;
  display: none;
  width: 300px;
  height: 300px;
  overflow: hidden;
  left: 376px;
  top: 5px;
  background: red;
}
.details-section .container .main .main-container {
  padding: 0 0 0 25px;
}
.details-section .container .main .main-container .main-contant {
  background: #fbfaf8;
  padding: 0 0 40px 0;
}
.details-section .container .main .main-container .main-contant h3 {
  display: block;
  width: 86.7%;
  padding: 20px 50px;
  margin-left: -25px;
  color: #fff;
  background: #5578dd;
}
.details-section .container .main .main-container .main-contant h3 em {
  display: inline-block;
  line-height: 32px;
  font-size: 20px;
  vertical-align: middle;
  text-transform: uppercase;
}
.details-section .container .main .main-container .main-contant .main-titleone em {
  margin-left: 346px;
}
.details-section .container .main .main-container .main-contant .main-title {
  margin: 44px 0 30px -25px;
  padding: 10px 50px;
  width: 86.7%;
}
.details-section .container .main .main-container .main-contant .main-title em {
  font-size: 14px;
  line-height: 28px;
}
.details-section .container .main .main-container .main-contant p {
  *zoom: 1;
  font-size: 14px;
  line-height: 26px;
  padding: 6px 5% 0 3%;
  color: #000;
}
.details-section .container .main .main-container .main-contant p:before,
.details-section .container .main .main-container .main-contant p:after {
  content: "";
  display: table;
}
.details-section .container .main .main-container .main-contant p:after {
  clear: both;
}
.details-section .container .main .main-container .main-contant p a {
  display: block;
  color: #8e8d89;
  height: 28px;
  padding: 0 14px;
  border: 1px solid #8e8d89;
  float: left;
  *display: inline;
  margin: 0 7px 7px 0;
}
.details-section .container .main .main-container .main-contant .right-details {
  margin-left: 346px;
  padding: 6px 5% 0 3%;
  /*.clearfix();*/
  overflow: hidden;
  /*	@media screen and (max-width:770px)and (min-width:600px){
								.share-tools{
									float: left;
									margin-top: 20px;
								}
						}*/
}
.details-section .container .main .main-container .main-contant .right-details p {
  padding: 0;
}
.details-section .container .main .main-container .main-contant .right-details button {
  display: block;
  background: #000;
  color: #fff;
  font-size: 16px;
  height: 42px;
  line-height: 42px;
  padding: 0 21px;
  border: 0;
  float: left;
  *display: inline;
  margin-top: 60px;
}
.details-section .container .main .main-container .main-contant .right-details .share-tools {
  float: right;
  *display: inline;
  margin-top: 75px;
}
.details-section .container .main .main-container .main-contant .right-details .share-tools a {
  width: 26px;
  height: 26px;
  float: left;
  margin-left: 10px;
}
@media screen and (max-width: 1050px) and (min-width: 990px) {
  .details-section .container .main .main-container .main-contant .right-details .share-tools {
    float: right;
    margin-top: 20px;
  }
  .details-section .container .main .main-container .main-contant .right-details .share-tools a {
    margin-left: 2px;
  }
  .details-section .container .main .main-container .main-contant .right-details button {
    margin-top: 10px;
  }
}
@media screen and (max-width: 990px) {
  .details-section .container .main .main-container .main-contant .right-details {
    margin-left: 0;
    padding: 116px 5% 0 3%;
  }
  .details-section .container .main .main-container .main-contant .main-titleone {
    height: 200px;
    overflow: hidden;
  }
}
.details-section .container .main .main-container .main-contant .flip {
  background: #e6e6e6;
  padding: 6px 5% 0 3%;
  color: #868686;
  font-size: 14px;
  line-height: 66px;
  margin-top: 30px;
  *zoom: 1;
}
.details-section .container .main .main-container .main-contant .flip:before,
.details-section .container .main .main-container .main-contant .flip:after {
  content: "";
  display: table;
}
.details-section .container .main .main-container .main-contant .flip:after {
  clear: both;
}
.details-section .container .main .main-container .main-contant .flip a {
  color: #868686;
  text-decoration: underline;
  margin-left: 8px;
}
.details-section .container .main .main-container .main-contant .flip i {
  float: left;
  *display: inline;
}
.details-section .container .main .main-container .main-contant .flip em {
  float: right;
  *display: inline;
  font-weight: normal;
}
.details-section .container .main .main-container .main-contant form {
  padding: 6px 5% 0 3%;
}
.details-section .container .main .main-container .main-contant form li {
  font-size: 14px;
  line-height: 36px;
  margin-bottom: 20px;
}
.details-section .container .main .main-container .main-contant form li em {
  display: inline-block;
  color: #201f1a;
  width: 78px;
  text-align: right;
  font-weight: normal;
  margin-right: 10px;
  vertical-align: top;
}
.details-section .container .main .main-container .main-contant form li em i {
  color: #ff0f0f;
}
.details-section .container .main .main-container .main-contant form li input {
  font-size: 14px;
  line-height: 36px;
  height: 36px;
  width: 50%;
  color: #201f1a;
  text-indent: 10px;
}
.details-section .container .main .main-container .main-contant form li textarea {
  height: 122px;
  font-size: 14px;
  line-height: 28px;
  padding: 10px;
  width: 60%;
  color: #201f1a;
}
.details-section .container .main .main-container .main-contant form .li {
  margin: 0;
}
.details-section .container .main .main-container .main-contant form .form-agree {
  font-weight: normal;
  color: #666;
  margin-left: 88px;
}
.details-section .container .main .main-container .main-contant form .form-agree input {
  vertical-align: middle;
}
.details-section .container .main .main-container .main-contant form button {
  display: block;
  margin: 28px 0 0 88px;
  background: #000;
  color: #fff;
  font-size: 16px;
  height: 42px;
  line-height: 42px;
  padding: 0 22px;
  border: 0;
}
@media screen and (max-width: 990px) {
  .details-section .container .sidebar {
    float: none;
    width: 100%;
  }
  .details-section .container .main {
    padding: 0 0 0 10px;
  }
  .details-section .container .main .slider {
    left: 0;
  }
}
@media screen and (max-width: 640px) {
  .details-section .container .main {
    padding: 0;
  }
  .details-section .container .main .main-container {
    padding: 0;
  }
  .details-section .container .main .main-container .main-contant .main-titleone {
    background: #fff;
  }
  .details-section .container .main .main-container .main-contant .flip em {
    float: left;
  }
  .details-section .container .main .slider {
    left: 50%;
    margin-left: -183px;
  }
}
