<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>新闻内容页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/newct.css"/>
	<script src="js/jquery.js"></script>
	<script type="text/javascript" src="js/slide.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">
                    <img src="./images/c_logo.jpg" alt="品牌"/>
                </a>
                <button class="navbar-toggle ">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="home">
                  <a href="index.html">HOME</a>
                </li>
                <li class="dropdown">
                  <a href="about.html">ABOUT US</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Sputtering Targets</a></li>
                    <li><a href="#">Make-up Foldable Paper Box</a></li>
                    <li><a href="#">Glue Box</a></li>
                    <li><a href="#">Earring Glue Box</a></li>
                    <li><a href="#">Wood Box</a></li>
                    <li><a href="#">PDC Cutter</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="details.html">PRODUCTS</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Sputtering Targets</a></li>
                    <li><a href="#">Make-up Foldable Paper Box</a></li>
                    <li><a href="#">Glue Box</a></li>
                    <li><a href="#">Earring Glue Box</a></li>
                    <li><a href="#">Wood Box</a></li>
                    <li><a href="#">PDC Cutter</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="javascript:void (0)">NEWS</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Sputtering Targets</a></li>
                    <li><a href="#">Make-up Foldable Paper Box</a></li>
                    <li><a href="#">Glue Box</a></li>
                    <li><a href="#">Earring Glue Box</a></li>
                    <li><a href="#">Wood Box</a></li>
                    <li><a href="#">PDC Cutter</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#">KNOWLEDGE</a>
                </li>
                <li class="dropdown">
                  <a href="#">CONTACT US</a>
                </li>
                <li class="dropdown">
                  <a href="#">FEEDBACK</a>
                </li>
                <div class="select-flag flag-cn">
                  <!--<div class="flage-show">-->
                  <!--<img src="./images/eng.jpg" alt=""/>-->
                  <!--<i>English</i>-->
                  <!--<span class="lower"></span>-->
                  <!--</div>-->
                  <div class="select-box">
                    <span class="lower"></span>
                    <ul class="flage-show">
                      <li id="liDropD_En">
                        <a href="#">
                          <img src="./images/eng.jpg" width="22" height="16" alt=""/>
                          <i>English</i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="./images/vn.png" width="22" height="16" alt=""/>
                          <i>Việt Nam</i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="./images/ru.png" width="22" height="16" alt=""/>
                          <i>русский</i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </ul>
            </div>
        </div>
    </nav>
</header>
	<div class="banner">
	   <img src="images/zd_c_banner.jpg" alt="" width="100%" />
	</div>
	<div class="search two-search">
	    <div class="container">
	        <div class="search-ipt">
	            <input type="text"/>
	            <button>Check Now</button>
	        </div>
	        <div class="seach-title">
	            <h2>SEARCH PRODUCTS</h2>
	        </div>
	    </div>
	</div>
	<section>
		<div class="g-newct">
			<div class="g-main">
				<div class="g-sidebar">
					<h3>PRODUCT CATEGORIES</h3>
					<p class="line"></p>
					<ul class="g-nav">
						<li class="list">
							<a class="title" href="#">Gift Bag</a>
							<ul>
								<li><a href="#">Sputtering Targets</a></li>
								<li><a href="#">shoes Wholesare stores</a></li>
								<li><a href="#">wholesale Distributors</a></li>
								<li><a href="#">China Wholesale</a></li>
							</ul>
						</li>
						<li class="list">
							<a class="title titletwo" href="#">Non-Woven Bag</a>
							<ul>
								<li><a href="#">Sputtering Targets</a></li>
								<li><a href="#">shoes Wholesare stores</a></li>
								<li><a href="#">wholesale Distributors</a></li>
								<li><a href="#">China Wholesale</a></li>
							</ul>
						</li>
						<li class="list">
							<a class="title" href="">Hamper Hoops</a>
							<ul>
								<li><a href="#">Sputtering Targets</a></li>
								<li><a href="#">shoes Wholesare stores</a></li>
								<li><a href="#">wholesale Distributors</a></li>
								<li><a href="#">China Wholesale</a></li>
							</ul>
						</li>
						<li class="list">
							<a class="title" href="#">Comb With Mirror</a>
							<ul>
								<li><a href="#">Sputtering Targets</a></li>
								<li><a href="#">shoes Wholesare stores</a></li>
								<li><a href="#">wholesale Distributors</a></li>
								<li><a href="#">China Wholesale</a></li>
							</ul>
						</li>
						<li class="list">
							<a class="title" href="#">Round Orange Peeler</a>
							<ul>
								<li><a href="#">Sputtering Targets</a></li>
								<li><a href="#">shoes Wholesare stores</a></li>
								<li><a href="#">wholesale Distributors</a></li>
								<li><a href="#">China Wholesale</a></li>
							</ul>
						</li>
						<li class="list">
							<a class="title" href="#">Inflatable Pillow</a>
							<ul>
								<li><a href="#">Sputtering Targets</a></li>
								<li><a href="#">shoes Wholesare stores</a></li>
								<li><a href="#">wholesale Distributors</a></li>
								<li><a href="#">China Wholesale</a></li>
							</ul>
						</li>
						<li class="list">
							<a class="title" href="#">Car Sun Shade</a>
							<ul>
								<li><a href="#">Sputtering Targets</a></li>
								<li><a href="#">shoes Wholesare stores</a></li>
								<li><a href="#">wholesale Distributors</a></li>
								<li><a href="#">China Wholesale</a></li>
							</ul>
						</li>
					</ul>					
				</div>
				<div class="g-container">
					<div class="g-bags">
						<h3>- Jan 13, 2017 -</h3>
						<p class="g-textone">
							With the increase of new energy, related departments continue to advocate environmental protection and energy saving, but increasingly serious environmental pollution. In order to get rid of the white pollution, make our environment better, many environmentally conscious people began to develop new products, including a new product called non-woven bag. Non-woven bag in plastic manufacture of non-textile fabric, a lot of people think there is a word must be natural, in fact, this is amisunderstanding.
						</p>
						<p class="g-texttwo">
							Stitch non-woven bag is a kind of dry non-woven fabric, stitch is the use of warp-knitted coils on the Web, yarn, non-woven material, made from non-woven cloth. Commonly used non-woven material is polypropylene non-woven bags or polyethylene terephthalate environmental protection just as ordinary plastic shopping bags,neither completely degraded. Specific price terms, under the same conditions of non wovens from the bag's strength than plastic bags, but not waterproof, as muchas its prices several times higher than plastic bags. Non-woven bag with acupuncture: is a kind of dry non-woven fabrics, needling nonwovens are needle puncture, fluffy fiber mesh reinforced fabric. Particularly like plastic shopping bags with PE, PP, belong to five varieties of GE Plastics, are 50 years or degradation of the plasticvariety.
						</p>
						<p class="g-textthree">
							Non-woven bag production cost mainly includes two departments, one is the costof raw materials, processing costs of the second bag. At present, in available in the market can buy non-woven cloth on their specifications very much, and the cost is different. Spunlace non-woven bag: is high pressure micro-flow injection to a layer or multi-layer fiber Internet, fiber, intertwined with each other, so that the Web can be reinforced and have a certain strength. Heat sealing non-woven bag: refersto the Web include fibrous powder or hot melt Adhesive reinforcement material, fiber network through the heating and melting cooling reinforcement into cloth. Weinto environmentally friendly non woven bag product category, because it is the biggest feature is the plastic does not have environmental function. It was time wellbelow the natural degradation of plastic bags, so the use of non-woven fabric made of non-woven bag has been recognized as the most affordable reusable bags.
						</p>
						<ul class="bags">
							<li>
								<span>PREVIOUS:</span>
								<a href="" target="_blank">MEAT PROCESSING COLD ROOM</a>
							</li>
							<li class="li-two">
								<span>NEXT:</span>
								<a href="" target="_blank">COLD ROOM LARGE PROJECT</a>
							</li>
						</ul>
						<p class="g-header">
							The Basic Process Of Non-woven Bags
						</p>						
					</div>
					<div class="g-news">
						<ul class="listone">
							<li>
								<a href="" target="_blank">
									<p class="a-text">Classification Of Gift Bags</p>
									<p class="a-day">Jan 13, 2017</p>
								</a>
								<a href="" target="_blank">
									<p class="a-text">Non-woven Bag Introduced</p>
									<p class="a-day">Jan 13, 2017</p>
								</a>
								<a href="" target="_blank">
									<p class="a-text">The Principle Of Non-woven Bags</p>
									<p class="a-day">Jan 13, 2017</p>
								</a>
								<a href="" target="_blank">
									<p class="a-text">The Advantage Of Non-woven Bags</p>
									<p class="a-day">Jan 13, 2017</p>
								</a>
								<a href="" target="_blank">
									<p class="a-text">Clothes Storage Basket The Purpose ...</p>
									<p class="a-day">Jan 13, 2017</p>
								</a>
							</li>
							<li>
								<a href="" target="_blank">
									<p class="a-text">Classification Of Gift Bags</p>
									<p class="a-day">Jan 13, 2017</p>
								</a>
								<a href="" target="_blank">
									<p class="a-text">Non-woven Bag Introduced</p>
									<p class="a-day">Jan 13, 2017</p>
								</a>
								<a href="" target="_blank">
									<p class="a-text">The Principle Of Non-woven Bags</p>
									<p class="a-day">Jan 13, 2017</p>
								</a>
								<a href="" target="_blank">
									<p class="a-text">The Advantage Of Non-woven Bags</p>
									<p class="a-day">Jan 13, 2017</p>
								</a>
								<a href="" target="_blank">
									<p class="a-text">Clothes Storage Basket The Purpose ...</p>
									<p class="a-day">Jan 13, 2017</p>
								</a>
							</li>
						</ul>
						<p class="g-header">
							Related News
						</p>	
					</div>
					<div class="g-slide">
						<div class="small-box">
							<span class="btn left-btn"></span>
							<div class="small-list">
								<ul>
									<li class="on">
										<img src="images/hl-t1.jpg" alt=""  />
										<div class="bun-bg"></div>
									</li>
									<li>
										<img src="images/hl-t2.jpg" alt="" />
										<div class="bun-bg"></div>
									</li>
									<li>
										<img src="images/hl-t1.jpg" alt=""  />
										<div class="bun-bg"></div>
									</li>
									<li>
										<img src="images/hl-t2.jpg" alt=""  />
										<div class="bun-bg"></div>
									</li>
									<li>
										<img src="images/hl-t1.jpg" alt=""  />
										<div class="bun-bg"></div>
									</li>
									<li>
										<img src="images/hl-t2.jpg" alt=""  />
										<div class="bun-bg"></div>
									</li>
								</ul>
							</div>
							<span class="btn right-btn"></span>
						</div>
						<p class="g-header">
							Related Products
						</p>	
					</div>
				</div>
			</div>
		</div>
	</section>
    <footer>
        <div class="container">
            <div class="col">
                <h3 class="pro-title">CONTACT INFO</h3>
                <ul class="contact-list">
                    <li>
                        <i class="m-icon add"></i>
                        <span class="txt">Maniva Co. 273 Edgar Buildings,George St, London England</span>
                    </li>
                    <li>
                        <i class="m-icon tel"></i>
                        <span class="txt">
                            +44408873432<br/>
                            +4440887343
                        </span>
                    </li>
                    <li>
                        <i class="m-icon mail"></i>
                        <span class="txt">
                            <a href="#">info@maniva.com</a>
                            <a href="#">http://www.maniva.com</a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h3 class="pro-title">CATEGROIES</h3>
                <ul class="cate-list">
                    <li>
                        <a href="#">paris fashion days will be started next</a>
                    </li>
                    <li>
                        <a href="">Beautiful Vietnamese models are in...</a>
                    </li>
                    <li>
                        <a href="">This winter’strendy colors are yellow...</a>
                    </li>
                    <li>
                        <a href="">No discount in fashion world this year...</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h3 class="pro-title">TAGS</h3>
                <div class="tags-list">
                    <a target="_blank" href="">FASHION</a>
                    <a target="_blank" href="">WOMEN</a>
                    <a target="_blank" href="">GIRLS</a>
                    <a target="_blank" href="">BEST</a>
                    <a target="_blank" href="">BUSINESS</a>
                    <a target="_blank" href="">WINTER</a>
                    <a target="_blank" href="">BEAUTIFUL</a>
                    <a target="_blank" href="">COLORS</a>
                    <a target="_blank" href="">STORE</a>
                    <a target="_blank" href="">SUMMER</a>
                    <a target="_blank" href="">SUMMER</a>
                </div>
            </div>
            <div class="col">
                <h3 class="pro-title">FLICKR PHOTOS</h3>
                <span class="qr-wrap">
                    <img src="./images/qr_code.png" width="184" height="184" alt="二维码">
                </span>
            </div>
        </div>
        <div class="foottext">
            <div class="container">
                <p class="copyright">COPYRIGHT ©2016.PORTIATHEME.ALL RIGHTS RESERVED.</p>
                <ul class="foot-nav">
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT US</a></li>
                    <li><a href="">PRODUCTS</a></li>
                    <li><a href="">NEWS</a></li>
                    <li><a href="">KNOWLEDGE</a></li>
                    <li><a href="">CONTACT US</a></li>
                    <li><a href="">FEEDBACK</a></li>
                </ul>
                <span class="back-btn">
                    <i></i>
                    <i></i>
                </span>
            </div>
        </div>
    </footer>
	<script src="js/comment.js"></script>
	<script src="js/secondlist.js"></script>
	<script type="text/javascript">		
	    jQuery(function(){
	        /* 商品轮播图（带缩略图的轮播效果） */
	        jQuery(".g-slide").thumbnailImg({
	            small_elem: ".small-list",
	            left_btn: ".left-btn",
	            right_btn: ".right-btn"
	        });
	    });
	</script>
</body>
</html>